@tailwind base;
@tailwind components;
@tailwind utilities;


/* global css */
body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}

/* custom properties */
:root {
    /* ## Colors */
    /*  ### Primary */
    --cl-GrayishBlue: hsl(237, 18%, 59%);
    --cl-SoftRed: hsl(345, 95%, 68%);
    /*  ### Neutral */
    --cl-White: hsl(0, 0%, 100%);
    --cl-DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --cl-VerydarkBlue: hsl(235, 16%, 14%);
    --cl-VerydarkBlue-2: hsl(234, 17%, 12%);
}

/* actual css */
body {
    background-color: var(--cl-VerydarkBlue);
}

main {
    height: calc(100vh - 13rem);
    background: url('../assets/bg-stars.svg') center/cover no-repeat;
}

main>div {
    width: min(85vw, 675px)
}

.header {
    letter-spacing: .3rem;
    line-height: 1.3;
}

.card-container {
    height: 4.5rem;
    margin: 0 auto;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
}



.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 650ms, opacity 50ms;
}

.card {
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

.days-card-display {
    opacity: 1;
    transform: var(--days-transform);
}

.hours-card-display {
    opacity: 1;
    transform: var(--hours-transform);
}

.minutes-card-display {
    opacity: 1;
    transform: var(--minutes-transform);
}

.seconds-card-display {
    opacity: 1;
    transform: var(--seconds-transform);
}

.card-text {
    font-size: .45rem;
    letter-spacing: .3rem;
    text-align: center;
    margin-left: .2rem;
}

footer {
    height: 13rem;
    background: url('../assets/pattern-hills.svg') bottom right -4rem/270% no-repeat;
    ;
}

@media (min-width:768px) {
    .card-container {
        max-width: 10rem;
        height: 9.5rem;
    }

    .card-text {
        font-size: .8rem;
    }

    footer {
        background-size: 150%;
    }
}

@media (min-width:1024px) {
    footer {
        background-position: bottom;
        background-size: 100%;
    }
}